PORT=5001
MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
CLIENT_URL=https://lorettocentralschool.edu.in,https://portal.lorettocentralschool.edu.in,https://lcs-portal.pages.dev,http://localhost:3000,http://localhost:5173
ADMIN_USERNAME=
ADMIN_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
